* {
    box-sizing: border-box;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#hamburger:hover {
    cursor: pointer;
}

#top-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
    transition: top 0.3s;
}

#nav-links {
    display: none;
    text-align: center;
    list-style: none;
    padding: 0px;
    line-height: 25px;
    border-radius: 5px;
    font-weight: bold;
}

#nav-links a {
    text-decoration: none;
    color: #2C3A4F;
    display: block;
    padding: 10px;
    background-color: lightcoral;
    border-radius: 2px;
    margin-bottom: 4px;
    filter: drop-shadow(-1px 2px 2px #2C3A4F);
}

header {
    background-color: #677B9C;
    padding: 50px;
    height: 500px
}

.grid-header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
}

.grid-header {
    font-family: 'Permanent Marker', cursive;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: end;
    color: lightcoral;
    filter: drop-shadow(-2px 2px 0px #2C3A4F);
}

.grid-header-info {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: start;
    justify-self: center;
}

.grid-header-button {
    background-color: lightcoral;
    border: none;
    color: #2C3A4F;
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
    text-decoration: none;
}

.grid-header-button:hover {
    background-color: white;
}

.grid-header-img {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: start;
    justify-self: center;
}

header h2 {
    font-weight: 100;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

header img {
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
}

section {
    padding: 20px 10px 20px;
}

.projects {
    background-color: #B0C6E8;
    text-align: center;
    padding-top: 75px;
    color: #2C3A4F;
}

.project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    padding-bottom: 75px;
}

.project-img {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    margin-bottom: 15px;
}

.project-title {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    align-self: center;
    z-index: 5;
    color: white;
    filter: drop-shadow(2px 4px 5px #2C3A4F);
}

.project-desc {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 20px 40px;
    line-height: 27px;

}

.tech-used {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: 3;
    align-self: start;
}

.tech-used img {
    height: 30px;
    margin: 10px;
    color: #2C3A4F;
}

.project-links {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: 4;
    align-self: end;
    margin-top: 25px;
}

.project-links a {
    background-color: lightcoral;
    border: none;
    color: #2C3A4F;
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
    text-decoration: none;
    margin: 20px;
}

.project-links a:hover {
    background-color: white;
}

.project-links img {
    height: 35px;
}

.project-links img:hover {
    filter: invert(1);
}

.project-links a {
    text-decoration: none;
    color: inherit;
}

.app-screenshot {
    max-width: 300px;
    filter: blur(2px);
    border-radius: 5%;
}

.about-me {
    background-color: white;
    padding: 50px 20px;
    margin: 20px 20px;
    line-height: 35px;
    font-size: large;
    color: #2C3A4F;
}

address img {
    height: 30px;
    margin: 25px;
}

address img:hover {
    filter: invert(1);
}

footer {
    background-color: lightcoral;
    text-align: center;
    padding: 20px 10px 20px;
    color: #2C3A4F
}

.vinyl-icon {
    display: none;
}

.shoe-icon {
    display: none;
}

address {
    padding-top: 10px;
}
@media only screen and (min-width: 550px) {
    header img {
        max-width: 200px;
        max-height: 200px;
    }

    .grid-header {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        align-self: end;
        justify-self: end;
        margin: 0px;
    }

    .grid-header-info {
        align-self: start;
        justify-self: end;
        max-width: 367px;
    }

    .grid-header-img {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: span 2;
        align-self: center;
    }
}

@media only screen and (min-width: 1000px) {
    header img {
        max-width: 250px;
        max-height: 250px;
    }

    .project-img {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: span 2;
        justify-self: center;
        align-self: center;
        margin-bottom: 0px;
    }
    
    .project-title {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        color: #2C3A4F;
        align-self: end;
        margin: 0px;
        font-size: 25px;
        filter: none;
        font-style: italic;
    }
    
    .project-desc {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        align-self: start;
        padding: 30px 50px;
        margin-bottom: 0px;
        color: #2C3A4F;
        font-size: larger;
    }

    .tech-used {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        align-self: end;
    }

    .tech-used img {
        margin-bottom: 0px;
        height: 23px;
    }
    
    .project-links {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        align-self: start;
        margin: 0px;
    }

    .project-links p {
        margin-top: 0px;
    }

    .app-screenshot {
        filter: none;
    }

    .app-screenshot:hover{
        filter: blur(3px);
        transition: 0.2s;
    }

    .about-me {
        display: grid;
        grid-template-columns: 85% 15%;
        grid-template-rows: auto auto;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
    }

    .technical-bio {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .fun-bio {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .vinyl-icon {
        display: inherit;
        height: 100px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        justify-self: end;
        align-self: start;
    }
    
    .shoe-icon {
        display: inherit;
        height: 100px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: start;
        align-self: center;
    }
}

@media only screen and (min-width: 1024px) {
    .grid-header {
        font-size: 39px;
    }

    .grid-header-info {
        max-width: 447px;
    }
}

@media only screen and (max-width: 400px) {
    .grid-header-img {
        display: none;
    }

    .grid-header-info {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}