* {
    box-sizing: border-box;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 5px;
}

#nav-links {
    display: none;
    text-decoration: none;
    color: black;
}

header {
    background-color: #677B9C;
    padding: 50px;
    height: 500px;

}

.grid-header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.grid-header {
    font-family: 'Permanent Marker', cursive;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: end;
    color: lightcoral;
}

.grid-header-info {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: start;
    justify-self: center;
}

.grid-header-img {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: start;
    justify-self: center;
}

header h2 {
    font-weight: 100;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

header img {
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
}

section {
    padding: 20px 10px 20px;
}

.projects {
    background-color: #B0C6E8;
    text-align: center;
    padding-top: 75px;
    color: #2C3A4F;
}

.project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    padding-bottom: 75px;
}

.project-img {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    margin-bottom: 15px;
}

.project-title {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    align-self: center;
    z-index: 5;
    color: white;
    filter: drop-shadow(2px 4px 5px #2C3A4F);
}

.project-desc {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: 2;
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 20px 40px;
    line-height: 27px;
=======
>>>>>>> parent of 93d6a5f... updated project grid and removed project img resize
=======
>>>>>>> parent of 93d6a5f... updated project grid and removed project img resize
}

.project-links {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.projects img {
    max-width: 300px;
    filter: blur(2px);
    border-radius: 5%;
}

.about-me {
    background-color: white;
    padding: 50px 20px;
    margin: 20px 20px;
    line-height: 35px;
    font-size: large;
}

footer {
    background-color: lightcoral;
    text-align: center;
    padding: 20px 10px 20px;
    color: #2C3A4F
}

address {
    padding-top: 10px;
}
@media only screen and (min-width: 550px) {
    header img {
        max-width: 200px;
        max-height: 200px;
    }

    nav {
        background-color: white;
    }

    .top-nav {
        margin: 0px;
        padding: 10px;

    }

    .top-nav a {
        display: contents;
    }
    
    .top-nav img {
        display: none;
    }

    .grid-header {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        align-self: end;
        justify-self: end;
        margin: 0px;
    }

    .grid-header-info {
        align-self: start;
        justify-self: end;
        max-width: 367px;
    }

    .grid-header-img {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: span 2;
        align-self: center;
    }
}

@media only screen and (min-width: 800px) {
    header img {
        max-width: 250px;
        max-height: 250px;
    }

    .project-img {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: span 3;
        justify-self: center;
        align-self: center;
        margin-bottom: 0px;
    }
    
    .project-title {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        color: black;
        align-self: end;
        margin: 0px;
        font-size: 25px;
        filter: none;
        font-style: italic;
    }
    
    .project-desc {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        align-self: center;
<<<<<<< HEAD
<<<<<<< HEAD
        padding: 30px 50px;
        color: #2C3A4F;
=======
>>>>>>> parent of 93d6a5f... updated project grid and removed project img resize
=======
>>>>>>> parent of 93d6a5f... updated project grid and removed project img resize
    }
    
    .project-links {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        align-self: start;
        margin: 0px;
    }
}

<<<<<<< HEAD
<<<<<<< HEAD
@media only screen and (min-width: 1024px) {
    .grid-header {
        font-size: 39px;
    }

    .grid-header-info {
        max-width: 447px;
=======
@media only screen and (min-width: 1200px) {
    .projects img {
        max-width: 500px;  
>>>>>>> parent of 93d6a5f... updated project grid and removed project img resize
=======
@media only screen and (min-width: 1200px) {
    .projects img {
        max-width: 500px;  
>>>>>>> parent of 93d6a5f... updated project grid and removed project img resize
    }
}